nav {
  background-color: #000;
}

nav ul a {
  color: #FFF;
  font-family: 'Abhaya Libre', serif;
}

a:hover {
  color: #f6201d;
}

.GA-color{
  color: #f6201d;
}

.nav-links {
  padding-right: 1em;
}

.session-status{
  font-family: 'Abhaya Libre', serif;
  margin-top: 1em;
}

#galaxy {
  font-family: 'Roboto', sans-serif;
  padding-left: 1em;
}
